.dashicons-editor-help {
    margin: 5px 0px 0px -25px;
    float: left;
    color: #BFBFBF;

}

.dashicons-editor-help.checkbox {
    margin: -2px 0px 0px -25px;
}

/* Tooltips */
.tooltip{text-shadow:none;}
.tooltip{position:absolute;z-index:1030;display:block;visibility:visible;font-size:11px;line-height:1.4;opacity:0;filter:alpha(opacity=0);}.tooltip.in{opacity:0.8;filter:alpha(opacity=80);}
.tooltip.top{margin-top:-3px;padding:5px 0;}
.tooltip.right{margin-left:3px;padding:0 5px;}
.tooltip.bottom{margin-top:3px;padding:5px 0;}
.tooltip.left{margin-left:-3px;padding:0 5px;}
.tooltip-inner{max-width:200px;padding:8px;color:#ffffff;text-align:center;text-decoration:none;background-color:#505050;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid;}
.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#505050;}
.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#505050;}
.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#505050;}
.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#505050;}

/* Animation */

.tooltip.fade{opacity:0;-webkit-transition:opacity 0.15s linear;-moz-transition:opacity 0.15s linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear;}
.tooltip.fade.in{opacity:1;}
/*
.collapse{position:relative;height:0;overflow:hidden;-webkit-transition:height 0.35s ease;-moz-transition:height 0.35s ease;-o-transition:height 0.35s ease;transition:height 0.35s ease;}.collapse.in{height:auto;}
*/

/* Graphflow logo font */
@font-face {
    font-family: 'graphflow';
    src:url('../graphflow.eot');
    src:url('../graphflow.eot?#iefix') format('embedded-opentype'),
    url('../graphflow.ttf') format('truetype'),
    url('../graphflow.woff') format('woff'),
    url('../graphflow.svg?#graphflow') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'graphflow';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-graphflow-logo-new-sq:before {
    content: "\e600";
}

#adminmenu #toplevel_page_graphflow-admin .menu-icon-generic div.wp-menu-image::before {
    font-family: graphflow !important;
    content: "\e600";
    font-size: 1.3em !important;
}
